.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 24px;
    font-family: var(--font-secondary);
    font-weight: 100;
  }
  
  .navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 70px;
  }
  
  .navbar-links a {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color:var(--color-darkgreen)
  }
  
  .navbar-auth a {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin: 15px;
  }
  
  .navbar-auth a:hover {
    color: var(--color-darkgreen)
  }
  