
.row {
    display: flex;
    flex-wrap: wrap;
}
.row-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* row의 자식들 */
.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

li{
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
  }