.col-lg-auto {
    flex: 0 0 auto;
    width: auto
}

.col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%
}

.col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%
}

.col-lg-3 {
    flex: 0 0 auto;
    width: 25%
}

.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%
}

.col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%
}

.col-lg-6 {
    flex: 0 0 auto;
    width: 50%
}

.col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%
}

.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%
}

.col-lg-9 {
    flex: 0 0 auto;
    width: 75%
}

.col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%
}

.col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%
}

.col-lg-12 {
    flex: 0 0 auto;
    width: 100%
}

/* 모바일뷰 */
@media(max-width: 767px), only screen and (min-width: 576px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
    .col-sm-1 {
        flex: 0 0 auto;
        width: 8.33333333%
    }

    .col-sm-2 {
        flex: 0 0 auto;
        width: 16.66666667%
    }

    .col-sm-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }

    .col-sm-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-sm-6 {
        flex: 0 0 auto;
        width: 50%
    }

    .col-sm-7 {
        flex: 0 0 auto;
        width: 58.33333333%
    }

    .col-sm-8 {
        flex: 0 0 auto;
        width: 66.66666667%
    }

    .col-sm-9 {
        flex: 0 0 auto;
        width: 75%
    }

    .col-sm-10 {
        flex: 0 0 auto;
        width: 83.33333333%
    }

    .col-sm-11 {
        flex: 0 0 auto;
        width: 91.66666667%
    }

    .col-sm-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

